body{
	margin: 0px;
	padding: 0px;
	background-color: /*#464646*/ white;
}

nav{
	background-color: /*#283b40*/ black;
	margin:0px;
	display: inline-flex;
	width: 100%;
	height: auto;
	align-items: center;
	font-family: Lucida Sans;
	font-size: 20px;
}

h4,h1,h3,h2{
	font-family:Ink Free;
	margin: 0px;
	color: #947e7e;
}

p{
	margin: 9px;
	font-family: Ink Free;
	font-size: 15px;
	color: #504747;
	margin: 0px;
}

/*menu starts here*/
.text{
	text-decoration: none;
	font-family: Lucida Sans;
	color: #c1baba;
	margin: 7px;
}

.option0{
	margin: 10px;
	padding: 5px;
}

.option1{
	margin: 10px;
	padding: 5px;
}

.option2{
	margin: 10px;
	padding: 5px;
}

.option3{
	margin: 10px;
	padding: 5px;
}

.option4{
	margin: 10px;
	padding: 5px;
}

.burgericon{
	float: right;
}

.line{
	height: 5px;
	width: 30px;
	border-radius: 3px;
	background-color: white;
	margin: 5px;
	display: none;
}



/*Home intro starts here*/

.welcome{
	margin-top: 8%;
	display: inline-flex;
}

.introimg{
	height: 400px;
	width: 400px;
	border-radius: 50%;
	box-shadow: 3px 8px 10px 3px rgba(1,0,0,0.5);
}


.intro{
	float: right;	
	text-align: left;			
/*	background-color: red;*/
	height: 300px;
	width: 400px;

}

.image{
	float: left;
/*	margin-left: 25%;*/
/*	background-color: green;*/
}

.selfintro{
	padding: 15px;
	font-size: 17px;
}

.btn{
	height: 30px;
	border-radius: 20px;
	background-color: #70776f;
	/*border: none;*/
	box-shadow: 0px 4px 5px 0 rgba(1,0,0,0.5);
}

.value1{
	width: 500px;
	height: 15px;
	margin: 25px;
	transition:all .7s ease-in-out;

}

.Hobbies{
	width: 30%;
	margin: auto;
	margin-top: 50px;
	text-align: left;
	padding: 10px;
}

/*portfolio starts here*/

.port{
	height: 150px;
	width: 90%;
/*	background-color: green;*/
	margin:auto;
	margin-top: 30px;
	transition:all .5s ease-in-out;
	box-shadow: 0px 8px 10px 0 rgba(1,0,0,0.5);
}

.port:hover{
	width: 95%;
	height: 160px;
	box-shadow: 0px 8px 13px 10px rgba(1,0,0,0.5);
}



/*CV starts here*/
.box1{
	height: auto;
	width: 80%;
	background-color: #353835;
	margin: auto;
	text-align: center;
	margin-top: 9%;
	padding: 10px;
}

.objectives{
	text-align: left;
}

.education{
	text-align: left;
}

.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
}

.grid-item{
	padding: 20px;
}


/*contact starts here*/
.box2{
	height: auto;
	width: 80%;
	background-color: #353835;
	margin: auto;
	margin-top: 9%;
	padding: 15px;
}

.inputtext{
	width: 350px;
	height: 35px;
	font-family: Ink Free;
	font-size: 20px;
	border-radius: 13px;
	border-top: none;
	margin: 8px;
}

textarea{
	font-family: Ink Free;
	font-size: 20px;
	border-radius: 13px;
	border-top: none;
	margin: 8px;
}

.submit{
	height: 30px;
	width: 80px;
	font-family: Ink Free;
	font-size: 15px;
	border-radius: 15px; 
	margin: 4px;
}

.social{
	height: 45px;
	width: 70px;
	margin-top: 15px;
}

.socialmedia{
	text-align: center;
}

/*sitereport*/
.report{
	padding: 20px;
	font-size: 19px;
}

.reporthead{
	margin-top: 15px;
}



@media screen and (max-width: 700px){
	nav{
		flex-direction: column; 
		width: 100%;
		height: auto;
		align-items: center;
	}


	.text{
		overflow: hidden;
		height: auto;

	}

	.line{
		display: flex;
	}
	/*responsive for home*/

	.introimg{
		height: 200px;
		width: 200px;
		border-radius: 50%;
	}

	.welcome{
		flex-direction: column;
		font-size: 10px;
	}

	.intro{
		margin:10px;
		text-align: left;
		width: 95%;
	}

	.Hobbies{
		width: 90%;
	}

	.value1{
		width: 90%;
	}

	/*CV*/

	.box1{
		width: 94%;
		margin-top: 2%;
		height: 96%;
	} 

	/*contact*/
	.box2{
		width: 92%;
		margin-top: 2%;
	}

	.inputtext{
		width: 90%;
	}

	textarea{
		width: 80%;
	}

}


/*Css for nav*/
.nav {
  background-color: /*#283b40*/ black;
  margin:0px;
  display: inline-flex;
  align-items: center;
  font-family: Lucida Sans;
  font-size: 20px;
  height: 50px;
  width: 100%;
  position: relative;

}

.text{
  text-decoration: none;
  font-family: Lucida Sans;
  color: #c1baba;
  margin: 7px;
}


.burgericon {
  display: none;
}

.options {
  display: inline;
  float: left;
  font-size: 18px;
}


#nav-check {
  display: none;
}


@media (max-width:600px) {
.burgericon {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }


label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }


span {
    display: block;
    width: 25px;
    height: 5px;
    margin: 3px;
    border-radius: 2px;
    background-color: white;
  }


.options {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }


a {
    display: block;
    width: 100%;
  }
  
#nav-check:not(:checked) ~ .options {
    height: 0px;
  }


#nav-check:checked ~ .options {
    height: calc(100vh - 10px);
    overflow-y: auto;
  }
}

